node_modules
dist
exports
.git
.gitignore
.env
.env.prod
.env.development
.env.production
.env.test
.env.local
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose.yml
README.md